body {
  background-image: radial-gradient(circle, rgb(249, 0, 0), rgb(8, 8, 8));
  
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
}
.about {
      width: 900px;
      height: 400px;
      background-image: linear-gradient(#6b5c5c, #FFFFFF);
      border: 2px solid rgb(0, 0, 0);
      border-radius: 10px;
      padding: 10px;
      text-align: justify;
      display: flex;
      margin: auto;
    }

.about img {
      width: 200px;
      height: auto;
      border-radius: 10px;
      margin: auto;
    }

    .about h2 {
      color: rgb(0, 0, 0);
      font-size: 30px;
      text-decoration: double underline;
      text-align: center;
      margin: auto;
    }

    .about p {
      color: rgb(0, 0, 0);
      font-size: 16px;
      text-align: justify;
      text-transform: capitalize;
      margin: auto;
      padding: 10px;
    
    }
.skill_image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  margin: auto;
}

progress[value] {
  width: 250px;
  height: 20px;
}

.skills-list {
  display: grid;
  padding: auto;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.skill-itms {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(0, 0, 0);
  border-radius: 10px;
  padding: auto;
  text-align: center;
  background-color: black;
  color: rgb(255, 255, 255);
}